# Pandas
- Designed to work with **heterogeneous tabular data**
- Two main data structures: `Series` and `DataFrame`

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Series

A `Series` is a one-dim array-like object containing:
- a sequence of values of possibly heterogenous types
- a sequence of labels called *index*

In [2]:
s = pd.Series([-3, 4, 5.2, 'c'])
s

0     -3
1      4
2    5.2
3      c
dtype: object

In [3]:
s = pd.Series([-3, 4, 5, 0], index = ['alpha', 'beta', 'gamma', 'delta'])
s

alpha   -3
beta     4
gamma    5
delta    0
dtype: int64

In [4]:
s.index

Index(['alpha', 'beta', 'gamma', 'delta'], dtype='object')

The attribute `values` returns a `ndarray` containing the values of the `Series` object

In [5]:
s.values

array([-3,  4,  5,  0])

Indices can be used with the indexing operator `[]` to access values.

In [6]:
s['beta']

4

We can use the `in` operator to check for the presence of an index.

In [7]:
'beta' in s

True

We can filter the values of a `Series` using a boolean expression as argument of the indexing operator.

In [8]:
s[s > s.median()]

beta     4
gamma    5
dtype: int64

We can apply universal functions as with Numpy's ndarrays.

In [9]:
np.exp(s)

alpha      0.049787
beta      54.598150
gamma    148.413159
delta      1.000000
dtype: float64

Series can be created from a Python `dict` using the `Series()` constructor.

In [10]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

The `Series()` constructor takes also two lists as arguments, one list for the values and one for the indices.

Combining two `Series` with non-overlapping indices creates a new `Series` whose indices are the union of the indices of the original `Series` and with `NaN` values (used by Panda to indicate a missing value) for indices that are not in the intersection.

In [11]:
s1 = pd.Series([-3, 4, 5], index = ['alpha', 'beta', 'gamma'])
s2 = pd.Series([9, -1, -2], index = ['beta', 'gamma', 'delta'])
s1 + s2

alpha     NaN
beta     13.0
delta     NaN
gamma     4.0
dtype: float64

Additional attributes of `Series` are `name` and `index.name`.

In [12]:
s = pd.Series([1.72, 1.65, 1.83], index = ['John', 'Bob', 'Jean'])
s.name = 'Height'
s.index.name = 'First name'
s

First name
John    1.72
Bob     1.65
Jean    1.83
Name: Height, dtype: float64

## DataFrames
- 2-dimensional labeled data structure with columns of potentially different types
- the most commonly used pandas object
- the structure used to store datasets

Type constructor: `pd.DataFrame()`

Construction from `Series` (series can have different lengths, `NaN` used for missing values)

In [13]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
d = {'one' : s1, 'two' : s2}
df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

Construction from ndarrays/lists (must have same lengths)

In [14]:
d = {
    'one' : [1, 2, 3],
    'two' : ['alpha', 'beta', 'gamma']
}
df = pd.DataFrame(d, index = ['a', 'b', 'c'])
df

   one    two
a    1  alpha
b    2   beta
c    3  gamma

The row and column labels can be accessed through the `index` and `columns` attributes

In [15]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [16]:
df.columns

Index(['one', 'two'], dtype='object')

DataFrames can be operated on pretty much like a `dict` of `Series` objects that share a common indexing.

Accessing columns by name

In [17]:
df['two']

a    alpha
b     beta
c    gamma
Name: two, dtype: object

Adding a new column

In [18]:
df['three'] = df['one'] > 1
df

   one    two  three
a    1  alpha  False
b    2   beta   True
c    3  gamma   True

Adding a new column using a list

In [19]:
df['four'] = [3.0, 2.9, 2.3]
df

   one    two  three  four
a    1  alpha  False   3.0
b    2   beta   True   2.9
c    3  gamma   True   2.3

Deleting a column

In [20]:
del df['three']
df

   one    two  four
a    1  alpha   3.0
b    2   beta   2.9
c    3  gamma   2.3

Checking existence of a column by name

In [21]:
'one' in df

True

Similarly to `Series`, the `values` attribute returns a 2-dimensional `ndarray` containing the `DataFrame` data.

In [22]:
df.values

array([[1, 'alpha', 3.0],
       [2, 'beta', 2.9],
       [3, 'gamma', 2.3]], dtype=object)

Next, we load the Iris dataset. First, we take a look at it using the `cat` shell command

In [23]:
!cat Datasets/Iris.csv

Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,5.1,3.5,1.4,0.2,Iris-setosa
2,4.9,3.0,1.4,0.2,Iris-setosa
3,4.7,3.2,1.3,0.2,Iris-setosa
4,4.6,3.1,1.5,0.2,Iris-setosa
5,5.0,3.6,1.4,0.2,Iris-setosa
6,5.4,3.9,1.7,0.4,Iris-setosa
7,4.6,3.4,1.4,0.3,Iris-setosa
8,5.0,3.4,1.5,0.2,Iris-setosa
9,4.4,2.9,1.4,0.2,Iris-setosa
10,4.9,3.1,1.5,0.1,Iris-setosa
11,5.4,3.7,1.5,0.2,Iris-setosa
12,4.8,3.4,1.6,0.2,Iris-setosa
13,4.8,3.0,1.4,0.1,Iris-setosa
14,4.3,3.0,1.1,0.1,Iris-setosa
15,5.8,4.0,1.2,0.2,Iris-setosa
16,5.7,4.4,1.5,0.4,Iris-setosa
17,5.4,3.9,1.3,0.4,Iris-setosa
18,5.1,3.5,1.4,0.3,Iris-setosa
19,5.7,3.8,1.7,0.3,Iris-setosa
20,5.1,3.8,1.5,0.3,Iris-setosa
21,5.4,3.4,1.7,0.2,Iris-setosa
22,5.1,3.7,1.5,0.4,Iris-setosa
23,4.6,3.6,1.0,0.2,Iris-setosa
24,5.1,3.3,1.7,0.5,Iris-setosa
25,4.8,3.4,1.9,0.2,Iris-setosa
26,5.0,3.0,1.6,0.2,Iris-setosa
27,5.0,3.4,1.6,0.4,Iris-setosa
28,5.2,3.5,1.5,0.2,Iris-setosa
29,5.2,3.4,1.4,0.2,Iris-setosa
30,4.7,3.2,1.6,0.2,Iris-setosa
31,4.8,3.1,1.6,0.2,Iris-setosa
32,5.4,3.4,1.5,0.4,Iris-setosa
33,5.2,4.1,1.5,0.1,Iris-setosa
34,5.5,4.2,1.4,0.2,Iris-setosa
35,4.9,3.1,1.5,0.1,Iris-setosa
36,5.0,3.2,1.2,0.2,Iris-setosa
37,5.5,3.5,1.3,0.2,Iris-setosa
38,4.9,3.1,1.5,0.1,Iris-setosa
39,4.4,3.0,1.3,0.2,Iris-setosa
40,5.1,3.4,1.5,0.2,Iris-setosa
41,5.0,3.5,1.3,0.3,Iris-setosa
42,4.5,2.3,1.3,0.3,Iris-setosa
43,4.4,3.2,1.3,0.2,Iris-setosa
44,5.0,3.5,1.6,0.6,Iris-setosa
45,5.1,3.8,1.9,0.4,Iris-setosa
46,4.8,3.0,1.4,0.3,Iris-setosa
47,5.1,3.8,1.6,0.2,Iris-setosa
48,4.6,3.2,1.4,0.2,Iris-setosa
49,5.3,3.7,1.5,0.2,Iris-setosa
50,5.0,3.3,1.4,0.2,Iris-setosa
51,7.0,3.2,4.7,1.4,Iris-versicolor
52,6.4,3.2,4.5,1.5,Iris-versicolor
53,6.9,3.1,4.9,1.5,Iris-versicolor
54,5.5,2.3,4.0,1.3,Iris-versicolor
55,6.5,2.8,4.6,1.5,Iris-versicolor
56,5.7,2.8,4.5,1.3,Iris-versicolor
57,6.3,3.3,4.7,1.6,Iris-versicolor
58,4.9,2.4,3.3,1.0,Iris-versicolor
59,6.6,2.9,4.6,1.3,Iris-versicolor
60,5.2,2.7,3.9,1.4,Iris-versicolor
61,5.0,2.0,3.5,1.0,Iris-versicolor
62,5.9,3.0,4.2,1.5,Iris-versicolor
63,6.0,2.2,4.0,1.0,Iris-versicolor
64,6.1,2.9,4.7,1.4,Iris-versicolor
65,5.6,2.9,3.6,1.3,Iris-versicolor
66,6.7,3.1,4.4,1.4,Iris-versicolor
67,5.6,3.0,4.5,1.5,Iris-versicolor
68,5.8,2.7,4.1,1.0,Iris-versicolor
69,6.2,2.2,4.5,1.5,Iris-versicolor
70,5.6,2.5,3.9,1.1,Iris-versicolor
71,5.9,3.2,4.8,1.8,Iris-versicolor
72,6.1,2.8,4.0,1.3,Iris-versicolor
73,6.3,2.5,4.9,1.5,Iris-versicolor
74,6.1,2.8,4.7,1.2,Iris-versicolor
75,6.4,2.9,4.3,1.3,Iris-versicolor
76,6.6,3.0,4.4,1.4,Iris-versicolor
77,6.8,2.8,4.8,1.4,Iris-versicolor
78,6.7,3.0,5.0,1.7,Iris-versicolor
79,6.0,2.9,4.5,1.5,Iris-versicolor
80,5.7,2.6,3.5,1.0,Iris-versicolor
81,5.5,2.4,3.8,1.1,Iris-versicolor
82,5.5,2.4,3.7,1.0,Iris-versicolor
83,5.8,2.7,3.9,1.2,Iris-versicolor
84,6.0,2.7,5.1,1.6,Iris-versicolor
85,5.4,3.0,4.5,1.5,Iris-versicolor
86,6.0,3.4,4.5,1.6,Iris-versicolor
87,6.7,3.1,4.7,1.5,Iris-versicolor
88,6.3,2.3,4.4,1.3,Iris-versicolor
89,5.6,3.0,4.1,1.3,Iris-versicolor
90,5.5,2.5,4.0,1.3,Iris-versicolor
91,5.5,2.6,4.4,1.2,Iris-versicolor
92,6.1,3.0,4.6,1.4,Iris-versicolor
93,5.8,2.6,4.0,1.2,Iris-versicolor
94,5.0,2.3,3.3,1.0,Iris-versicolor
95,5.6,2.7,4.2,1.3,Iris-versicolor
96,5.7,3.0,4.2,1.2,Iris-versicolor
97,5.7,2.9,4.2,1.3,Iris-versicolor
98,6.2,2.9,4.3,1.3,Iris-versicolor
99,5.1,2.5,3.0,1.1,Iris-versicolor
100,5.7,2.8,4.1,1.3,Iris-versicolor
101,6.3,3.3,6.0,2.5,Iris-virginica
102,5.8,2.7,5.1,1.9,Iris-virginica
103,7.1,3.0,5.9,2.1,Iris-virginica
104,6.3,2.9,5.6,1.8,Iris-virginica
105,6.5,3.0,5.8,2.2,Iris-virginica
106,7.6,3.0,6.6,2.1,Iris-virginica
107,4.9,2.5,4.5,1.7,Iris-virginica
108,7.3,2.9,6.3,1.8,Iris-virginica
109,6.7,2.5,5.8,1.8,Iris-virginica
110,7.2,3.6,6.1,2.5,Iris-virginica
111,6.5,3.2,5.1,2.0,Iris-virginica
112,6.4,2.7,5.3,1.9,Iris-virginica
113,6.8,3.0,5.5,2.1,Iris-virginica
114,5.7,2.5,5.0,2.0,Iris-virginica
115,5.8,2.8,5.1,2.4,Iris-virginica
116,6.4,3.2,5.3,2.3,Iris-virginica
117,6.5,3.0,5.5,1.8,Iris-virginica
118,7.7,3.8,6.7,2.2,Iris-virginica
119,7.7,2.6,6.9,2.3,Iris-virginica
120,6.0,2.2,5.0,1.5,Iris-virginica
121,6.9,3.2,5.7,2.3,Iris-virginica
122,5.6,2.8,4.9,2.0,Iris-virginica
123,7.7,2.8,6.7,2.0,Iris-virginica
124,6.3,2.7,4.9,1.8,Iris-virginica
125,6.7,3.3,5.7,2.1,Iris-virginica
126,7.2,3.2,6.0,1.8,Iris-virginica
127,6.2,2.8,4.8,1.8,Iris-virginica
128,6.1,3.0,4.9,1.8,Iris-virginica
129,6.4,2.8,5.6,2.1,Iris-virginica
130,7.2,3.0,5.8,1.6,Iris-virginica
131,7.4,2.8,6.1,1.9,Iris-virginica
132,7.9,3.8,6.4,2.0,Iris-virginica
133,6.4,2.8,5.6,2.2,Iris-virginica
134,6.3,2.8,5.1,1.5,Iris-virginica
135,6.1,2.6,5.6,1.4,Iris-virginica
136,7.7,3.0,6.1,2.3,Iris-virginica
137,6.3,3.4,5.6,2.4,Iris-virginica
138,6.4,3.1,5.5,1.8,Iris-virginica
139,6.0,3.0,4.8,1.8,Iris-virginica
140,6.9,3.1,5.4,2.1,Iris-virginica
141,6.7,3.1,5.6,2.4,Iris-virginica
142,6.9,3.1,5.1,2.3,Iris-virginica
143,5.8,2.7,5.1,1.9,Iris-virginica
144,6.8,3.2,5.9,2.3,Iris-virginica
145,6.7,3.3,5.7,2.5,Iris-virginica
146,6.7,3.0,5.2,2.3,Iris-virginica
147,6.3,2.5,5.0,1.9,Iris-virginica
148,6.5,3.0,5.2,2.0,Iris-virginica
149,6.2,3.4,5.4,2.3,Iris-virginica
150,5.9,3.0,5.1,1.8,Iris-virginica

A dataset in csv form is loaded via the `pd.read_csv()` method.

The method `info()` provides information about number of rows and columns, name of columns, and type of column entries.

In [24]:
iris = pd.read_csv("Datasets/Iris.csv")
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

We don't really need the `Id` column.

In [25]:
del iris['Id']
iris.head() # print only the first few rows

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

The method `describe()` computes some useful statistics over the columns

In [26]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

Let's check also the `index` and `columns` attributes

In [27]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [28]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

**Slice rows:** note that endpoints are not inclusive

In [29]:
iris[5:10]

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4            1.5           0.2  Iris-setosa
8            4.4           2.9            1.4           0.2  Iris-setosa
9            4.9           3.1            1.5           0.1  Iris-setosa

This is how the average of a specific column can be computed

In [30]:
iris['SepalLengthCm'].mean()

5.843333333333335

We can also compute the means of all columns at once.

In [31]:
iris.mean()

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

By default, aggregation works over columns (in Pandas, columns are the `axis` zero).

If we want to aggregate over rows (`axis` one in Pandas), we can give the axis as argument.

In [32]:
iris.mean(axis=1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
5      2.850
6      2.425
7      2.525
8      2.225
9      2.400
10     2.700
11     2.500
12     2.325
13     2.125
14     2.800
15     3.000
16     2.750
17     2.575
18     2.875
19     2.675
20     2.675
21     2.675
22     2.350
23     2.650
24     2.575
25     2.450
26     2.600
27     2.600
28     2.550
29     2.425
       ...
120    4.525
121    3.825
122    4.800
123    3.925
124    4.450
125    4.550
126    3.900
127    3.950
128    4.225
129    4.400
130    4.550
131    5.025
132    4.250
133    3.925
134    3.925
135    4.775
136    4.425
137    4.200
138    3.900
139    4.375
140    4.450
141    4.350
142    3.875
143    4.550
144    4.550
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

Aggregation operators over axis return `Series` objects.

Other operators are elementwise. Here is an example using `abs()` for computing the absolute value of each dataframe entry.

In [33]:
df = pd.DataFrame({
    'a': [4, 5, 6, -7],
    'b': [10, -20, 30, 40],
    'c': [100, 50, -30, -50]
})
df.abs()

   a   b    c
0  4  10  100
1  5  20   50
2  6  30   30
3  7  40   50

We can select a subset of rows by combining different conditions using the boolean operators `& | ~`.

In [34]:
iris[ (iris['SepalLengthCm'] > iris['SepalLengthCm'].mean()) & (iris['Species'] == 'Iris-versicolor') ]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
50            7.0           3.2            4.7           1.4  Iris-versicolor
51            6.4           3.2            4.5           1.5  Iris-versicolor
52            6.9           3.1            4.9           1.5  Iris-versicolor
54            6.5           2.8            4.6           1.5  Iris-versicolor
56            6.3           3.3            4.7           1.6  Iris-versicolor
58            6.6           2.9            4.6           1.3  Iris-versicolor
61            5.9           3.0            4.2           1.5  Iris-versicolor
62            6.0           2.2            4.0           1.0  Iris-versicolor
63            6.1           2.9            4.7           1.4  Iris-versicolor
65            6.7           3.1            4.4           1.4  Iris-versicolor
68            6.2           2.2            4.5           1.5  Iris-versicolor
70            5.9           3.2            4.8           1.8  Iris-versicolor
71            6.1           2.8            4.0           1.3  Iris-versicolor
72            6.3           2.5            4.9           1.5  Iris-versicolor
73            6.1           2.8            4.7           1.2  Iris-versicolor
74            6.4           2.9            4.3           1.3  Iris-versicolor
75            6.6           3.0            4.4           1.4  Iris-versicolor
76            6.8           2.8            4.8           1.4  Iris-versicolor
77            6.7           3.0            5.0           1.7  Iris-versicolor
78            6.0           2.9            4.5           1.5  Iris-versicolor
83            6.0           2.7            5.1           1.6  Iris-versicolor
85            6.0           3.4            4.5           1.6  Iris-versicolor
86            6.7           3.1            4.7           1.5  Iris-versicolor
87            6.3           2.3            4.4           1.3  Iris-versicolor
91            6.1           3.0            4.6           1.4  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor

We can also sample a random row

In [35]:
iris.sample()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
74            6.4           2.9            4.3           1.3  Iris-versicolor

Or sample a random subset of $n$ rows

In [36]:
iris.sample(n=3)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
100            6.3           3.3            6.0           2.5   Iris-virginica
93             5.0           2.3            3.3           1.0  Iris-versicolor
17             5.1           3.5            1.4           0.3      Iris-setosa

Or subsample a pre-specified fraction of rows

In [37]:
iris.sample(frac=.05)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
77             6.7           3.0            5.0           1.7  Iris-versicolor
131            7.9           3.8            6.4           2.0   Iris-virginica
100            6.3           3.3            6.0           2.5   Iris-virginica
86             6.7           3.1            4.7           1.5  Iris-versicolor
141            6.9           3.1            5.1           2.3   Iris-virginica
113            5.7           2.5            5.0           2.0   Iris-virginica
94             5.6           2.7            4.2           1.3  Iris-versicolor
97             6.2           2.9            4.3           1.3  Iris-versicolor

Slicing rows and columns by **position** using `iloc`. Note that slicing with `iloc` follows the notation of Python as the right endpoint is not included.

In [38]:
iris.iloc[5:10, 3:5]

   PetalWidthCm      Species
5           0.4  Iris-setosa
6           0.3  Iris-setosa
7           0.2  Iris-setosa
8           0.2  Iris-setosa
9           0.1  Iris-setosa

We can use the method `insert()` to add a column in a given position.

In [39]:
iris.insert(4, 'SepalRatio', iris['SepalWidthCm']/iris['SepalLengthCm'])
iris.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalRatio,Species
0,5.1,3.5,1.4,0.2,0.686275,Iris-setosa
1,4.9,3.0,1.4,0.2,0.612245,Iris-setosa
2,4.7,3.2,1.3,0.2,0.680851,Iris-setosa
3,4.6,3.1,1.5,0.2,0.673913,Iris-setosa
4,5.0,3.6,1.4,0.2,0.720000,Iris-setosa

We now show how to perform some simple data normalization tasks.

First, we show how to rescale the entries in each column to the $[0,1]$ interval

In [40]:
iris2 = iris.iloc[:,:4] # create copy including only the selected columns
iris2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [41]:
iris2 = (iris2-iris2.min())/(iris2.max() - iris2.min()) # normalize columns in [0,1]
iris2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0       0.222222      0.625000       0.067797      0.041667
1       0.166667      0.416667       0.067797      0.041667
2       0.111111      0.500000       0.050847      0.041667
3       0.083333      0.458333       0.084746      0.041667
4       0.194444      0.666667       0.067797      0.041667

In [42]:
iris2.min() # doublecheck

SepalLengthCm    0.0
SepalWidthCm     0.0
PetalLengthCm    0.0
PetalWidthCm     0.0
dtype: float64

In [43]:
iris2.max() # doublecheck

SepalLengthCm    1.0
SepalWidthCm     1.0
PetalLengthCm    1.0
PetalWidthCm     1.0
dtype: float64

In [44]:
iris.iloc[:,:4] = iris2 # copy normalized columns back into Iris
iris.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalRatio,Species
0,0.222222,0.625000,0.067797,0.041667,0.686275,Iris-setosa
1,0.166667,0.416667,0.067797,0.041667,0.612245,Iris-setosa
2,0.111111,0.500000,0.050847,0.041667,0.680851,Iris-setosa
3,0.083333,0.458333,0.084746,0.041667,0.673913,Iris-setosa
4,0.194444,0.666667,0.067797,0.041667,0.720000,Iris-setosa

We reload the dataset and this time we change the entries of each column by subtracting their mean.

In [45]:
iris = pd.read_csv("Datasets/Iris.csv")
del iris['Id']

In [46]:
mean = iris.iloc[:,:4].mean() # compute mean of each column except the last one
mean

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

In [47]:
iris.iloc[:,:4] = iris.iloc[:,:4] - mean # subtract mean from each row (excluding column Species)
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0      -0.743333         0.446      -2.358667     -0.998667  Iris-setosa
1      -0.943333        -0.054      -2.358667     -0.998667  Iris-setosa
2      -1.143333         0.146      -2.458667     -0.998667  Iris-setosa
3      -1.243333         0.046      -2.258667     -0.998667  Iris-setosa
4      -0.843333         0.546      -2.358667     -0.998667  Iris-setosa

In [48]:
iris.iloc[:,:4].mean().round(2) # doublecheck

SepalLengthCm   -0.0
SepalWidthCm    -0.0
PetalLengthCm   -0.0
PetalWidthCm    -0.0
dtype: float64

Here is a faster why of doing the same transformation using lambda functions.

In [49]:
iris = pd.read_csv("Datasets/Iris.csv")
del iris['Id']
iris2 = iris.iloc[:,:4].apply(lambda x: x-x.mean())
iris2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      -0.743333         0.446      -2.358667     -0.998667
1      -0.943333        -0.054      -2.358667     -0.998667
2      -1.143333         0.146      -2.458667     -0.998667
3      -1.243333         0.046      -2.258667     -0.998667
4      -0.843333         0.546      -2.358667     -0.998667

In [50]:
iris2.iloc[:,:4].mean().round(2) # doublecheck

SepalLengthCm   -0.0
SepalWidthCm    -0.0
PetalLengthCm   -0.0
PetalWidthCm    -0.0
dtype: float64