# Exercises in Python

In the first three lessons, you have seen:

- lists (including list comprehensions);
- tuples;
- flow control (selection and loop statements);
- modules;
- dictionaries;

We will revise the above topics with five exercises.

## Exercise 1

Write a program to create a multiplication table, from 2 to 20 with a step of 2, of a number.

For instance, given ``n = 10``, the program should output:

``10 x 2 = 20
10 x 4 = 40
10 x 6 = 60
10 x 8 = 80
10 x 10 = 100
10 x 12 = 120
10 x 14 = 140
10 x 16 = 160
10 x 18 = 180
10 x 20 = 200``

We can simply address the required task using a ``for`` loop and ``range``: it represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [7]:
n=10
for i in range(2,21,2):
    y=n*i
    print(n,'x',i,'=',y)
print('####')
n=10
for i in range(2,21,2):
    print(n,'x',i,'=',n*i,sep='     ')

10 x 2 = 20
10 x 4 = 40
10 x 6 = 60
10 x 8 = 80
10 x 10 = 100
10 x 12 = 120
10 x 14 = 140
10 x 16 = 160
10 x 18 = 180
10 x 20 = 200
####
10     x     2     =     20
10     x     4     =     40
10     x     6     =     60
10     x     8     =     80
10     x     10     =     100
10     x     12     =     120
10     x     14     =     140
10     x     16     =     160
10     x     18     =     180
10     x     20     =     200

We recall that ``range`` also accept a ``step`` argument. Then, we improve the code avoiding the ``if`` statement and setting ``step = 2``.

We also get rid of the variable ``v``: if you don't need to use its value later, just don't create it.

In [2]:
n=10
for i in range(1,21):
    if(i%2==0):
        y=n*i
        print(n,'x',i,'=',y)

10 x 2 = 20
10 x 4 = 40
10 x 6 = 60
10 x 8 = 80
10 x 10 = 100
10 x 12 = 120
10 x 14 = 140
10 x 16 = 160
10 x 18 = 180
10 x 20 = 200

Finally, we write the same program in one line using list comprehensions: they provide a compact way to filter elements from a sequence and they implement the following for loop

``result = []
for <variable> in <sequence>:
    if <condition>:
        result.append(<expression>)``
        
in the following equivalent form

``[<expression> for <variable> in <sequence> if <condition>]``

In our case, we avoid the filtering part and we can obtain results as:

In [ ]:
n=10
[(n*i)for i in range(0,21,2)]

To obtain the same pretty printing, we create a formatted string inside the list comprehension.

In [9]:
[str(n)+'x'+str(i)+'='+str(n*i) for i in range (0,21,2)]

['10x0=0',
 '10x2=20',
 '10x4=40',
 '10x6=60',
 '10x8=80',
 '10x10=100',
 '10x12=120',
 '10x14=140',
 '10x16=160',
 '10x18=180',
 '10x20=200']

Finally, we use the ``join()`` method of strings: it concatenates each element of an iterable (such our list) to a string and returns the concatenated string. The syntax is ``string.join(iterable)``. An example:

In [19]:
ls=['a','b','d','g']
'---'.join(ls)

'a---b---d---g'

We concatenate with ``\n`` to go to the next line, then we print.

In [22]:
list=[str(n)+'x'+str(i)+'='+str(n*i) for i in range (0,21,2)]
print('\n'.join(list))

10x0=0
10x2=20
10x4=40
10x6=60
10x8=80
10x10=100
10x12=120
10x14=140
10x16=160
10x18=180
10x20=200

## Exercise 2

Write a Python program to replace the last value of the tuples in a list with the product of the respective first two elements of the tuple. Suppose that the list is composed only by tuples of three integers.

For instance, given in input the list ``l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]``, the program should output the following list of tuples
``[(10, 20, 200), (40, 50, 2000), (70, 80, 5600)]``.

In [34]:
lis = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(0,len(l)):
    a,b,c=l[i] #unpacking
    #create new tuple
    new_t=(a,b,a*b)
    lis[i]=new_t
    print(new_t)
print(lis)

(10, 20, 200)
(40, 50, 2000)
(70, 80, 5600)
[(10, 20, 200), (40, 50, 2000), (70, 80, 5600)]

Now, suppose that we want to address the same task as above, but the input list is now composed of tuples with a variable number of elements.

For instance, consider the list ``l = [(10, 20, 100, 40), (40, 50, 60), (70, 80, 100, 200, 300, 90)]``, the program should output the following list of tuples ``[(10, 20, 100, 200), (40, 50, 2000), (70, 80, 100, 200, 300, 5600)]``.

We can write a one-line expression using the slice operator, whose syntax is ``[start:stop:step]``.

In [37]:
l = [(10, 20, 100, 40), (40, 50, 60), (70, 80, 100, 200, 300, 90)]
[t[:-1]+(t[0]*t[1],)for t in l]
#t[:-1] keep everything except the last one!

[(10, 20, 100, 200), (40, 50, 2000), (70, 80, 100, 200, 300, 5600)]

## Exercise 3

Write a program to find the smallest and the largest word in a given string.

For instance, consider the string ``string = "A quick red fox"``. The program should output

``Smallest word: A
Largest word: quick``

A possible strategy is:

- creating a list containing all the words of the sentence;
- loop on the list and compute both the smallest and the longest word at the same time.

<img src="files/es1.svg" width="20%">

In [45]:
#the input string
string='A quick red fox'
#1.Let's build a list containing all the words of the sentence
words=[]
word=''
string=string+' '

for i in range(0,len(string)):
    if(string[i]!=' '):
        word= word+string[i] #+ =.append(variable)
    else:
        words.append(word)
        word=''
words
# 2. compute both the smallest and the longest word
smallest = largest = words[0]
for k in range(0,len(words)):
    if(len(smallest) > len(words[k])):
        smallest=words[k]
    if(len(largest) < len(words[k])):
        largest=words[k]
print('smallest word is ' + smallest)
print('largest word is ' + largest)

smallest word is A
largest word is quick

Let's refine the above code. Point 1 can be adressed using the Python ``split()`` built-in method of strings.

The ``split()`` method splits a string into a list. You can specify the separator, and default separator is any whitespace.

In [53]:
qa='As quick red fox b'
words = qa.split()
words

['As', 'quick', 'red', 'fox', 'b']

Also Point 2 can be adressed in a smarter way. We can use the built-in functions ``min()`` and ``max()``, which respectively returns the smallest and largest of the input values.

Such functions provide a parameter named ``key``, which allow to set a function to indicate the sort order. We must specify ``key = len``, as the default ordering for strings is the lexicographic one.

In [62]:
'18/20/2020'.split('/')

['18', '20', '2020']

At the end of the day, the exercise can be solved in the following way:

In [60]:
qa='As quick red fox b'
words = qa.split()
smallest = min(words,key=len)
print('the shorstest word is ',smallest)

the shorstest word is  b

## Exercise 4

Write a Python program to remove duplicates from a list of lists.

For instance, given in input the list ``ls = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]``, the program should output the following list without duplicates: ``[[10, 20], [40], [30, 56, 25], [33]]``.

<img src="files/es2.svg" width = "90%">

We initialize a new empty list named ``ls_no_dup``. We can address the exercise using two ``for`` loops: with the first one we pick an element from the original list, and with the second one we check if there is another equal element in the ``ls_no_dup`` list. If the element we are currently considering is yet present in ``ls_no_dup`` we don't add it again, otherwise we add it.

In [5]:
ls = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
ls_no_dup = []
for i in range (0,len(ls)):
    curr_elem = ls[i]
    duplicate = False
    for j in range(0,len(ls_no_dup)):
        if (curr_elem == ls_no_dup[j]):
            duplicate = True
    if (duplicate == False):
            ls_no_dup = ls_no_dup + [curr_elem]
ls_no_dup

[[10, 20], [40], [30, 56, 25], [33]]

We can simplify the above code using in a smarter way the conditional statements:

In [66]:
ls = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
ls_no_dup=[]
for i in ls:
    if i not in ls_no_dup:
        ls_no_dup.append(i)
ls_no_dup       #this is important to know how to extract value without duplicate. sometimes fromkeys() doesnt work

[[10, 20], [40], [30, 56, 25], [33]]

Other common ways people use to tackle duplicates include:
- dictionaries: the ``fromkeys()`` method of ``dict`` returns a dictionary with the specified keys. If we cast the dictionary, we obtain a list with no duplicate values.
- sets: the ``set()`` function, return a set whose does not allow duplicates, by its mathematical definition. Again, if we cast the set to a list, we obtain a list with no duplicate values.


Here we can't adopt the latter solutions: you can't use a list as the key in a ``dict``, since ``dict`` keys need to be immutable. The same holds for ``set``.

In [12]:
ls = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
list(dict.fromkeys(ls))

TypeError: unhashable type: 'list'

Compare with the following examples:

In [9]:
lis = ['a','b','c','s','d','i','b','a']
list(dict.fromkeys(lis))

['a', 'b', 'c', 's', 'd', 'i']

In [10]:
list(set(lis))

['d', 'i', 'c', 's', 'b', 'a']

## Exercise 5

Consider the following list of student records:

``students = [{'id': 1, 'success': True, 'name': 'Theo'},
             {'id': 2, 'success': False, 'name': 'Alex'},
             {'id': 3, 'success': True, 'name': 'Ralph'},
             {'id': 4, 'success': True, 'name': 'Ralph'},
             {'id': 5, 'success': False, 'name': 'Theo'}]``
           
We want to write a program to get the different values associated with "name" key.

With the above list, the program should output ``['Theo', 'Alex', 'Ralph']``.

In [15]:
students = [{'id': 1, 'success': True, 'name': 'Theo'},
             {'id': 2, 'success': False, 'name': 'Alex'},
             {'id': 3, 'success': True, 'name': 'Ralph'},
             {'id': 4, 'success': True, 'name': 'Ralph'},
             {'id': 5, 'success': False, 'name': 'Theo'}]
different_name_values=[]
for s in students:
    v=s['name']
    if (v not in different_name_values):
        different_name_values.append(v)
different_name_values

['Theo', 'Alex', 'Ralph']

We recognize again the pattern that list comprehensions implement, then we can use them:

In [17]:
name_value = [s['name']for s in students]
name_value

['Theo', 'Alex', 'Ralph', 'Ralph', 'Theo']

Finally, we can exploit what we learned from Exercise 4, using for instance the ``set()`` function.

In [19]:
list(set(name_value))

['Theo', 'Ralph', 'Alex']

[[10, 20], [40], [30, 56, 25], [33]]